p,
h2,
h3,
h4,
h5,
a {
    font-family: 'Poppins', sans-serif;
}

#nav {
    display: flex;
    height: 40px;
    background: aliceblue;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logout {
    padding: 2px 2px !important;
    border-radius: 5px !important;
    font-size: 12px !important;
    background: transparent !important;
    color: #000 !important;
    font-weight: 600 !important;
    border: 0px solid !important;
}
.sortable-chosen .drag{
    background: #cdcccc;
    border-radius: 7px;
    opacity: .7;
}
.sortable-chosen.form-mini-card{
    background: #ededed!important;
}
.sortable-chosen .rmv{
    background: #ffc0c0;
}
.flex-auto {
    flex: auto;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.container-xs {
    max-width: 980px;
    margin: 0 auto;
}

.form-mini-card {
    cursor: pointer;
    background: #e3e3e3;
    display: flex;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

.builder-btn {
    border-radius: 7px;
    border-color: #bebebe;
    border-width: 0px;
    font-weight: 600;
    color: #72a0ff;
    padding: 10px;
    min-width: 133px;
    background: #e9eeff;
    font-size: 14px;
}

.blitz-form__form {
    gap: 0px !important;

}

.blitz-field {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.form-preview {
    width: 100%;
    min-height: 150px;
    border: 1px solid #bebebe;
    border-radius: 7px;
    padding: 41px;
}

.rmv {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 7px;
    opacity: .7;
    width: 40px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.header-card {
    height: 250px;
    background-color: #1B283F !important;
    background-position: calc(100% + 0.5rem) calc(100% + 0.5rem);
    background-size: 100% auto;
    background-image: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/svg/patterns/rhone-2.svg);
    webkit-box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);
    box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);
    border: 0;
    background-repeat: no-repeat;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #EBEDF3;
    border-radius: 0.42rem;

}

.rmv rect {
    fill: red !important;
}

.admin-form-card {
    border: 2.5px solid;
    border-radius: 7px;
    padding: 25px;
    border-color: #bebebe;
}

/*Form style*/

.blitz-field__component {
    height: 40px !important;
    padding: 10px !important;
    -moz-border-radius: 7px !important;
    -webkit-border-radius: 7px !important;
    border-radius: 7px !important;
    border: 2.5px solid #bebebe !important;
    font-size: 14px !important;
    font-weight: 500 !important;

}

.form-build ._type-textarea {
    height: 40px !important;
}

.multiselect__tags {
    min-height: 40px;
    display: block;
    padding: 11px 40px 2px 8px;
    border-radius: 7px;
    border: 2.5px solid #bebebe;
}

.multiselect__select {
    height: 44px;
}

.multiselect__single {
    font-size: 14px;
    font-weight: 500 !important;
}

/*Global style*/
.bg-green-light {
    background-color: #b0febc !important;
}

.text-green-dark {
    color: #007517 !important;
}

.bg-blue-light {
    background-color: #bcd6fa !important;
}

.text-blue-dark {
    color: #274fb1 !important;
}

.bg-red-light {
    background-color: #fabcbc !important;
}

.text-red-dark {
    color: #cd2f2f !important;
}




.border-none {
    border: none !important;

}

.plus-icon {
    position: absolute;
    right: 17px;
    top: 12px;
    width: 20px;
    height: 20px;
    padding: 2px;
    background: #c2ccf9;
    border-radius: 7px;
}

.p-action {
    padding: 4px 14px !important;
}

.font-small {
    font-size: 12px !important;
}

.p-10-px {
    padding: 10px !important;
}

.border-r-7-px {
    -moz-border-radius: 7px !important;
    -webkit-border-radius: 7px !important;
    border-radius: 7px !important;

}



.arrow-icon{
    width: 20px;
    margin-left: 4px;
}

.arrow-icon path {
    fill: #FFA800;
}
.arrow-icon rect{
    fill: #FFA800;
    
}

.url-text{
    color:#FFA800 ;
}
.description {
    color: #B5B5C3;
}

.border-2-px {
    border: 2.5px solid #bebebe !important;
}

.font-medium {
    font-size: 14px !important;

}

.description {
    font-size: 15px;
    font-weight: 400;
}

.f-w-500 {
    font-weight: 500 !important;

}

.bg-color-dark {
    background: #1B283F !important;
}

.bg-color-light {
    background: #e7eef8 !important;
}

button:focus {
    box-shadow: none !important;
}



.form-control::placeholder {
    color: #adadad !important;
    font-size: 14px;
    font-weight: 500;
}

.form-control:focus {
    box-shadow: none !important;
}

/*data table style */
table {
    border-collapse: separate !important;
    border-spacing: 0;


    vertical-align: middle !important;
}

table tr:last-child {
    border: transparent !important;
}
